table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
    

}
table, th, td {
    border: 1px solid blueviolet;
  min-width: 10px;
  min-height: 160px;

    padding: 10px;
   
}
h1{
    color: blueviolet;
    text-align: center;
}
img{
    height: 50px;
    width: 50px;
  
    margin-left: 20px;                  
}
fa-icon{
    color: blueviolet;
    font-size: 20px;
   
}
.adjust-update-link{
    margin-left: 20px;
    
}
