
	<ngb-carousel *ngIf="popularProducts" >
		<ng-template *ngFor="let product of popularProducts" ngbSlide>
			<div class="picsum-img-wrapper">
				<a routerLink="/details/{{product.id}}"><img class="product-header-img" src="{{product.image}}" alt="Random first slide" /></a>
			</div>
			<div class="carousel-caption">
				<h3>{{product.name}}</h3>
				<p>{{product.description}}</p>
			</div>
		</ng-template>
		</ngb-carousel>
		<div class="product-list-wrapper">
			<h1>Trendy Products</h1>
			<div class="row">
				<div class="col-sm-3" *ngFor="let item of trendyProducts">
					<div class="product-item">
						<img src="{{item.image}}" alt="product image" class="product-image" />
					
					<div class="product-delails">
						<h6 class="name-head">{{item.name}}</h6>
						<div class="product-price">
							<h6>price:{{item.price}}</h6>
						</div>
						<div class="product-color">
							<h6>color:{{item.color}}</h6>
						</div>
						
					</div>
					<div class="product-footer">
						<a routerLink="/details/{{item.id}}">view details</a>
						<a href="">add to cart details</a>
					</div>
				</div>
				</div>
			</div>
		</div>

	