<div class="update-product">
    <h1>Update Product</h1>
    <p class="message_p">{{productMessage}}</p>
    <div class="add-product-form">
      <form  #addProduct="ngForm" class="common-form" (ngSubmit)="submit(addProduct.value)">
        <input
          class="from-input"
          ngModel="{{productData?.name}}"
          name="name"
          type="email"
          placeholder="Enter Product Name"
        />
        <input
          class="from-input"
          ngModel='{{productData?.price}}'
          name="price"
          type="text"
          placeholder="Enter Product price"
        />
        <input
          class="from-input"
          ngModel="{{productData?.color}}"
          name="color"
          type="name"
          placeholder="Enter Product color"
        />
        <input
          class="from-input"
          ngModel="{{productData?.category}}"
          name="category"
          type="text"
          placeholder="Enter Product category"
        />
        <textarea
          class="from-input"
          ngModel='{{productData?.description}}'
          name="description"
          type="text"
          placeholder="Enter Product Description"></textarea>
          <input
          class="from-input"
          ngModel="{{productData?.image}}"
          name="image"
          type="text"
          placeholder="Enter Product Image URL"
        />
        <button class="from-button">Update Product</button>
  
      </form>
    </div>
  </div>
  